<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            <div class="card dark-blue-bg-color align-items-center">
                <img src="./Images/Leaderboard/personIcon2.svg" class="card-img-top maxIconSize mt-3" alt="...">
                <div class="card-body">
                  <h5 class="card-admin-text">
                      <%= dataArray.length %> Accounts
                  </h5>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
    </div>
</div>